letras-slider{
  font-size: 20px !important;
  color: black !important;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
}

.right img{
  width: 100%;
}

.left{
  max-width: 45%;
  padding: 40px 64px;
  padding-left: 150px;
}

.right{
  padding: 40px 48px;
}

.title{
  color: #ff5360;
  font-size: 3.2em;
  width: 50%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 48px;
}

.msg {
  color: #9fb5cc;
  font-size: 1.1em;
  letter-spacing: 0.7px;
  line-height: 32px;
  margin-bottom: 48px;
}

button.cta{
  border:none;
  outline: none;
  padding: 18px 32px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),0 15px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
